.container-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    /* background-image: url('../images/apply-banner.png');  */
    background-size: cover;
    background-position: top;
    /* background:#fff2f1; */
}

.text-container p{
    color: #333;
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 24px;
    font-weight:300;
}


.text-container h2 {
    font-size: 24px;
    font-family: poppins;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}


.form-container {
    background-color: #e5d7d35e;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    width:600px;
}


.lable-text {
    color: #333;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-container .form-control:focus {
  padding:10px 10px;
  border-bottom: 2px solid #333;
}

.text-container{
 position:relative;
 padding-left: 20px;
    padding-right: 20px;
}
/*.text-container:before{*/
/*    background-color: #179cbf;*/
/*    border-radius: 100%;*/
/*    content: "";*/
/*    left: 0;*/
/*    position: absolute;*/
/*    height: 12px;*/
/*    top: 10px;*/
/*    width: 12px;*/
/*}*/

.otp-input {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.otp-box {
    width: 50px;
    text-align: center;
}

.form-check-input {
    width: 1.3em;
    background-color: #e8e8e8;
}

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 20px);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #f7f7f700 !important;
    background-clip: padding-box;
    transition: border-color .3s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'Poppins';
    border-color: #333;
}

.btn-tranparent1 {
    border-radius: 116px;
    border: 3px solid #333;
    color: #333;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 30px;
    background: #ffffff0f;
    text-decoration: none;
    transition: all 0.3s linaer;
}

.btn-tranparent1:hover {
    color: #fff;
    background: #333;
}

:focus-visible {
    outline:none !important;
}

.form-btn {
    width: fit-content;
    padding: 10px 35px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin:0 auto;
    font-weight:500;
}

.form-btn:hover {
    background-color: #333;
}


.width-50{
    width:50%;
}
@media (max-width: 992px) {
 .container-box{
  display:block;
 }
 
 .text-container p {
    font-size: 14px;
    line-height: 24px;
}

.width-50{
    width:100%;
}

.form-container {
    width: 100%;
    margin-top: 25px;
}
}
